<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HLUDbUpdater.Properties.Settings.HLUData_ConnectionString"
            connectionString="Data Source=ACEY\SQLEXPRESS2012;Initial Catalog=HLUData_BMERC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>